@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  font-family: 'IRANYekanX' sans-serif !important;
}

canvas {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}